h1 {
	color: red;
}

.preTweet {
	color: green;
}

.preComment{
	color: blue;
}

.messagesList {
	
	
}

.messagesList tr {
	outline: thin solid;
}

.tweetPicture {
	height: 3em;
	width: 3em;
}

.commentPicture {
	height: 1.6em;
	width: 1.6em;
}

.userPicture {
	height: 4em;
	width: 4em;
}

.floatRight {
	float: right;
}

.searchList ul {
    list-style-type: none;
	overflow: hidden;

}

.searchList li {
    float: left;
    padding: 0.5em;
}



