h1 {
	color: red;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.preTweet {
	color: green;
}

.preComment{
	color: blue;
}

.messagesList {
	
	
}

.messagesList tr {
	outline: thin solid;
}

.tweetPicture {
	height: 3em;
	width: 3em;
}

.commentPicture {
	height: 1.6em;
	width: 1.6em;
}

.userPicture {
	height: 4em;
	width: 4em;
}

.profilePicture {
	width: 20em;
}

.floatRight {
	float: right;
}

.searchList ul {
    list-style-type: none;
	overflow: hidden;

}

.searchList li {
    float: left;
    padding: 0.5em;
}

  #myScrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px 10px 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
	}

	#myScrollToTopBtn:hover {
	    background-color: #555; /* Add a dark-grey background on hover */
	}
	
	#mainTitleLink {
		color: red;
		text-decoration: none;
	}
	
	.userDelete {
		color: red;
		font-weight: bold;
		text-decoration: none;
	}
	
	.userEdit {
		color: magenta;
		text-decoration: none;
	}
	
	.adminDelete {
		color: red;
		font-weight: bold;
		text-decoration: none;
	}
	
	.adminEdit {
		color: magenta;
		text-decoration: none;
	}



