h1 {
	color: red;
}

.preTweet {
	color: green;
}

.preComment{
	color: blue;
}

.messagesList {
	
	
}

.messagesList tr {
	outline: thin solid;
}

.tweetPicture {
	height: 3em;
	width: 3em;
}

.commentPicture {
	height: 1.6em;
	width: 1.6em;
}

.floatRight {
	float: right;
}